button {
  padding: 8px 10px;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: #212121;
  color: #795638;
  border: 1px solid #795638;
  transition: 0.35s;
}
